.checksize {
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: 10000;
  display: flex;
}
/* 110% */

@media only screen and (max-width: 1919px) {
  .title-container {
    margin-top: 100px;
  }
  .slide-container {
    margin-top: 180px;
    margin-left: -50px;
  }
}

/* 125% */

@media only screen and (max-width: 1745px) {
  .title-main {
    margin-top: -20px;
  }
  .slide-page-img img {
    width: 300px;
  }
  .slide-page {
    margin-top: 0px;
    width: 85%;
  }
  .slide-container {
    margin-top: 180px;
    margin-left: 50px;
  }

  .slide-container a {
    width: 22%;
  }
  .title-main {
    margin-top: 15px;
  }
}

/* 150% */

@media only screen and (max-width: 1535px) {
  .title-container {
    font-size: 100px;
    width: 1000px;
  }
  .title-main {
    margin-top: -40px;
    margin-left: 100px;
    font-size: 140px;
    width: 1000px;
  }
  .slide-page-img img {
    width: 320px;
  }
  .slide-page {
    margin-top: 0px;
    width: 300px;
    height: 200px;
    transform: scale(1.5);
  }
  .slide-container {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1340px;
    margin-top: 100px;
    height: 700px;
    margin-left: -60px;
  }

  .slide-container a {
    display: flex;
    width: 40%;
  }
  .slide-page-title {
    margin-top: 47px;
    height: 1px;
  }
  .one,
  .two,
  .three,
  .four {
    height: 160px;
  }
}

/* 175% */

@media only screen and (max-width: 1279px) {
  .slide-page {
    transform: scale(1.2);
  }
  .slide-container {
    width: 1140px;
    height: 600px;
  }
  .slide-container a {
    width: 30%;
  }

  .title-main,
  .title {
    width: 800px;
  }
}

/* 200% */

@media only screen and (max-width: 1097px) {
  .slide-page-img img {
    width: 300px;
  }

  .slide-container {
    margin-left: 0px;
    width: 955px;
  }

  .slide-container a {
    width: 30%;
  }
  .slide-page-title {
    height: 20px;
    font-size: 50px;
  }
  .one,
  .two,
  .three,
  .four {
    height: 140px;
  }
  body {
    overflow: auto;
    overflow-x: hidden;
  }
  .home-container {
    height: 100%;
  }
  .title-container {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 80px;
  }

  .title-main,
  .title,
  .title-container {
    width: 680px;
  }
  /* HEADER */

  .home {
    display: none !important;
  }
}
/* 250% */

@media only screen and (max-width: 959px) {
  .slide-container {
    width: 762px;
  }
  .title-container {
    margin-left: -20px;
  }

  .title {
    font-size: 80px;
    width: 650px;
  }
  .title-main {
    width: 500px;
  }
  .slide-page-img {
    width: 100%;
  }
}

/* 300% */

@media only screen and (max-width: 767px) {
  .slide-container {
    width: 635px;
    height: 1100px;
  }
  .slide-container a {
    width: 62%;
  }
  .slide-page-title {
    width: 110%;
  }

  .title-container {
    margin-left: -20px;
    width: 635px;
  }

  .title {
    font-size: 65px;
    width: 540px;
  }
  .title-main {
    width: 400px;
    font-size: 100px;
  }
}
/* 400% */

@media only screen and (max-width: 639px) {
  .slide-container {
    width: 475px;
    height: 1100px;
  }

  .title-container {
    margin-left: -20px;
    width: 475px;
  }

  .title {
    font-size: 45px;
    width: 370px;
  }
  .title-main {
    width: 270px;
    margin-left: 70px;
    margin-top: -80px;
    font-size: 70px;
  }
}

/* 500% */

@media only screen and (max-width: 479px) {
  .slide-container {
    width: 330px;
    height: 1100px;
  }
  .slide-container a {
    transform: scale(0.9);
  }

  .title-container {
    margin-left: -20px;
    width: 330px;
  }

  .title {
    font-size: 45px;
    width: 250px;
    line-break: auto;
    line-height: 40px;
  }
  .title-main {
    margin: 0;
    padding: 0;
    width: 270px;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 70px;
  }
}
