.arrow-container {
  position: absolute;
  z-index: 10000;
  font-size: 15vh;
  width: 100%;
  height: 90%;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  transform: 1s;
  display: flex;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
}

.arrow-container a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  height: 10px;
  width: 100px;
  display: flex;
  align-items: center;
}
