.slide-page-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

.bottom-c {
  display: flex;
  height: auto;
  height: 50%;
  width: 100%;
}

.left-c {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5vh;
}

.right-c {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box-1-r,
.box-2-r,
.box-3-r {
  width: 82%;
  height: 100%;
  border: 0.5vh solid white;
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
  margin-left: 2vh;
  border-bottom: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-l {
  font-size: 10vh;
  height: 10%;
  width: 80%;
  margin-bottom: 2vh;
}

.text-l {
  font-size: 3.5vh;
  height: 50%;
  width: 80%;
  line-height: 3.5vh;
}

.right-c img {
  width: 13vh;
}

.some-text {
  text-align: center;
  font-size: 2vh;
  font-weight: 900;
  margin-top: 2vh;
  line-height: 2vh;
}

.vs {
  height: 80%;
  width: 30%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PAGE THREE SLIDER and FOUR*/

.left-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.right-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.content-box {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-th {
  font-size: 10vh;
  font-weight: bold;
  margin-top: 5vh;
}

.text-th {
  margin-top: 4vh;
  font-size: 4vh;
  line-height: 4vh;
}

/* PAGE ONE SLIDER */

.one-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-box {
  width: 100%;
  height: 60%;
  display: flex;
}

.bottom-box {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 5vh;
}

.count-box {
  width: 150vh;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10000;
}

.count-mini {
  flex-direction: column;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
  width: 20vh;
}

.top-l-b {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-info-box {
  height: 40vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top-title {
  font-size: 10vh;
  width: 170%;
  line-height: 8vh;
}

.top-text {
  font-size: 4vh;
  line-height: 4vh;
  margin-top: 5vh;
  width: 170%;
}

.title-o {
  font-size: 10vh;
  font-weight: bold;
  margin-top: 5vh;
}

.text-o {
  margin-top: 4vh;
  font-size: 4vh;
  line-height: 4vh;
}

.text-count {
  width: 150%;
  text-align: center;
}
